{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.search) }}
    {{ form_widget(form.doSearch) }}
{{ form_end(form) }}

<div id="results">
    {% for file in founded %}
        <p>* {{ file }}</p>
    {% else %}
        <p id="no_files">No files have been found.</p>
    {% endfor %}
</div>